.summary{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 300px;
    height: fit-content;
    margin-left: 20px;
}

.container {
    padding: 16px 24px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.title {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.author {
    font-size: 14px;
    cursor: pointer;
}

.authority {
    padding: 16px 24px 8px;
    border-bottom: 1px solid grey;
}

.description-cnt {
    padding: 16px 16px 8px;
}

.description-title {
    font-size: 14px;
    font-weight: bold;
}

.description {
    font-size: 12px;
}
